.header
  background $gray
  padding 8px 18px
  margin-bottom 25px

  .button
    margin-right 9px

  .field
    margin-right 18px

    label
      margin-right 4px

.sources
  display inline-block

.site-title
  display inline-block
  margin-right 30px

.controls
  display inline-block