.albums-container
  max-width 80vw
  margin 0 10vw

.src-toggle-container
  display inline-block

.image-pair
  border-radius 6px
  background #2c2f34
  margin 0 0 20px

  &__src-wrapper
    display flex
    align-items center
    justify-content center

  &__controls
    padding 4px 12px 0 12px

  &.is-focused
    box-shadow 0 0 3px #fff

  &[data-show="a"]
    .image[data-id="a"]
      display block
  &[data-show="b"]
    .image[data-id="b"]
      display block

.image
  max-width 100%
  display none

  &__src
    max-width 100%
    max-height 90vh

  &__desc
    padding 12px

.src-toggle
  margin 0
  width 0
  height 0
  overflow hidden
  visibility hidden

  + label
    padding 8px 8px
    cursor pointer
    opacity .75
    display inline-block

  &:checked + label
    border-bottom 3px solid $outline-blue
    opacity 1