html, body, main
  height 100%

body
  background $blackgray
  color $whitegray
  font-family "Helvetica Neue", Helvetica, Calibri, Arial, sans-serif

.templates
  display none

.assumed-desc
  font-style italic